
/* =================== COURSES ================== */

body {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
width: 100%;
padding: 0;
margin: 0;

background-image: linear-gradient(180deg, #11213200 460px, #112132ff 540px, #112132ff 1000px),
linear-gradient(180deg, #ffffff 0px, #ffffff 50px, #ffffff00 100px),
url(../images/yuriy-garnaev-395878-unsplash.png);
background-size: 967px auto;
background-repeat: no-repeat;
background-position-y: 340px;
min-width: 480px;
}

a {
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    text-decoration: none;
}


@media (min-width: 768px) { 
    body { 
        background-image: linear-gradient(180deg, #11213200 460px, #112132ff 540px, #112132ff 1000px),
                        linear-gradient(180deg, #ffffff 0px, #ffffff 50px, #ffffff00 100px),
                        url(../images/yuriy-garnaev-395878-unsplash.png);
        background-size: 967px auto;
        background-repeat: no-repeat;
        background-position-y: 340px;
  }

}

@media (min-width: 992px) { 
    body { 
        background-image: linear-gradient(180deg, #11213200 640px, #112132ff 710px, #112132ff 1000px),
                        linear-gradient(180deg, #ffffff 0px, #ffffff 50px, #ffffff00 100px),
                        url(../images/yuriy-garnaev-395878-unsplash.png);
        background-size: 1248px auto;
        background-repeat: no-repeat;
        background-position-y: 340px;
  }

}


@media (min-width: 1200px) { 
    body { 
        background-image: linear-gradient(180deg, #11213200 500px, #112132ff 850px, #112132ff 1000px),
                        linear-gradient(180deg, #ffffff 0px, #ffffff 50px, #ffffff00 100px),
                        url(../images/yuriy-garnaev-395878-unsplash.png);
        background-size: 1510px auto;
        background-repeat: no-repeat;
        background-position-y: 340px;
  }

}

@media (min-width: 1510px) { 
    body { 
        background-image: linear-gradient(180deg, #11213200 970px, #112132ff 1160px, #112132ff 1000px),
                        linear-gradient(180deg, #ffffff 0px, #ffffff 50px, #ffffff00 100px),
                        url(../images/yuriy-garnaev-395878-unsplash.png);
        background-size: 2048px auto;
        background-repeat: no-repeat;
        background-position-y: 340px;
    }

}




header {
    height: 164px;
}

#courses_main {

}


.courses{
    width: 100%;
    position: absolute;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   text-transform: uppercase;
   z-index: 1;
   padding-top: 5px;
   font-size: 14px;  
}

.block_logo {
    position: absolute;
}
.courses > ul{
   display: flex;
   justify-content: space-between;
   width: 31%;
   text-decoration: none;
   list-style: none;
}
.courses_soc{
   display: flex;
   justify-content: flex-end;
   padding-right: 15px;
   align-items: center;
   width: 500px;   
}
.logo_courses h1 {
    display: block;
    width: 100px;
    height: 36px;
    margin: 0;
    padding: 0;
}

nav {
    margin-left: 70px;
    position: relative;
    z-index: 30;
    width: 600px;
}


/*
@media (max-width: 1079px) {
    #f_menu_left {
        max-width: 36em; 
    }
}
*/

.menubar {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

 .menubar li {
    list-style-type: none;
    flex: 1 0 auto; 
    display: inline-block;
}

.menubar a {
    color: #000;
    position: relative;
    transition: all 0.3s;
    text-decoration: none;
}

.menubar a:after {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    content: '.';
    color: transparent;
    background: rgba(186,152,152,0);
    height: 2px;
    transition: all 0.3s;
}

.menubar a:hover {
    color: rgb(186,152,152);
}

.menubar a:hover:after {
    bottom: 25px;
    background: rgba(186,152,152,1);
}

.course {
    position: relative;
}

.course::after {
    font-size: 20px;
}

.course ul {
    visibility: hidden;
    position: absolute;
    box-shadow: 2px 2px 10px #555555;
    overflow: visible;
    z-index: 1000;
}

.courses_9_rectangles{
    transform: translateY(125px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    left: 360px;
    position: absolute;
}
.text_top_header {
    color: #000000c7;
   padding-left: 163px;
   padding-top: 130px;
   font-size: 23px;
}

.rect_1{
   position: relative;
   z-index: 10;
   width: 177px;
   height: 177px;
   background-color: #BACBDC;
   transform: rotate(45deg);
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid black;
   top: -25px;
   left: 28px;
}
.rect_1 h2{
   transform: rotate(-45deg);
   font-size: 20px;
   position: absolute;
   top: 35px;
   left: 4px;
}


.rect_1 a:nth-child(2){
    position: relative;
    display: block;
    transform: rotate(-45deg);
    font-size: 12px;
    top: 36px;
    left: 44px;
    width:100px;
}

.rect_1 a:hover {
    text-decoration: overline;
    color: rgb(240, 240, 240);
    font-weight: 400;
}
.rect_1 a img:hover {
    filter: invert(100%);
}
.rect_1 img{
   position: absolute;
   transform: rotate(-45deg);
   right: 10px;
   bottom: 19px;
}
.rect_2{
   display: flex;
   position: absolute;
   left: 88px;
   bottom: 104px;
   transform: scale(1);
}
.background_rect_2{
   height: 255px;
   width: 255px;
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(150, 170, 190, 0.4)), url(../images/Reykjavik.png);
   -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);  
   clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);  
}
.rect_2 p{
   text-transform: uppercase;
   color: white;
   font-size: 15px;
   z-index: 1;
   position: absolute;
   align-self: center;
   left: 58px;
   top: 128px;
}
.rect_3{
   display: flex;
   position: absolute;
   left: 227px;
   top: -61px;
}
.background_rect_3{
   width: 255px;
   height: 255px;
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(150, 170, 190, 0.4)), url(../images/Stockholm.png);
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);  
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);  
}
.rect_3 p{
   text-transform: uppercase;
   color: white;
   font-size: 15px;
   z-index: 1;
   position: absolute;
   align-self: center;
   left: 68px;
   top: 137px;
}
.rect_red_45{
   width: 45px;
   height: 45px;
   background: #432132;
   display: flex;
   position: absolute;
   transform: rotate(45deg);
   bottom: 228px;
   left: 315px;
}
.rect_4{
   display: flex;
   position: absolute;
   left: 365px;
   bottom: 106px;
}
.background_rect_4{
   width: 255px;
   height: 255px;
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(150, 170, 190, 0.4)), url(../images/Helsinki.png);
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);  
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);  
}
.rect_4 p{
   text-transform: uppercase;
   color: white;
   font-size: 15px;
   z-index: 1;
   position: absolute;
   align-self: center;
   left: 73px;
   top: 137px;
}
.rect_grey_80{
   width: 80px;
   height: 80px;
   background: #435465;
   display: flex;
   position: absolute;
   transform: rotate(45deg);
   bottom: 234px;
   left: 551px;
}
.rect_white_37{
   width: 37px;
   height: 37px;
   background: white;
   display: flex;
   position: absolute;

}
.rect_black_27{
   width: 27px;
   height: 27px;
   background: black;
   display: flex;
   position: absolute;
}
.rect_5{
   display: flex;
   position: absolute;
   left: 638px;
   bottom: 106px;
}
.background_rect_5{
   width: 255px;
   height: 255px;
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(150, 170, 190, 0.4)), url(../images/Copenhagen.png);
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);  
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);  
}
.rect_5 p{
   text-transform: uppercase;
   color: white;
   font-size: 15px;
   z-index: 1;
   position: absolute;
   align-self: center;
   left: 77px;
   top: 137px;
}


.lang {
    position: relative;
    height: 446px;
}

#level {
    font-size: 18px;
    color: black;
    text-align: center;
    height:20px;
    margin: 26px 0;
}

.first {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
}

.card {
    margin: 5px;
    height: 180px;
    width: 450px;
    flex: 0 0 auto;
    background: linear-gradient(140deg, #00000080, #00000080 0%);
}


.card:hover {
    box-shadow: 0 0 16px rgb(150, 164, 209);
    background: linear-gradient(120deg, #3c454b7c 0%, #00000080 90%);
}

.first_sign {
    width:100px;
    height: 100%;
    float: left;
}

.first_sign_inner {
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    border: solid 1px white;
    top: 78px;
    left: 46px;
    position: relative;
}

.first_h {
    color: rgb(233, 233, 233);
    font-size: 18px;
    margin: 20px 10px 8px 110px;
}

.first_text {
    color: rgb(233, 233, 233);
    font-size: 14px;
    margin: 20px 10px 8px 110px;
}

.second {
    padding: 30px 0;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
}

.card2 {
    border-radius: 1%;
    background: linear-gradient(180deg, #FFFFFF 0%, #BACBDC 100%);
    margin: 20px 5px;
    height: 290px;
    width: 450px;
    flex: 0 0 auto;
}

.card2:hover {
box-shadow: inset  0 2px 3px #4e4e4e;
background: linear-gradient(180deg, #FFFFFF 15%, rgb(165, 184, 204) 100%);
}

.month {
    text-decoration: underline;
    font-size: 16px;
    position: absolute;
    transform: translate(300px, 12px);
    margin-right: 10px;
    width:124px;
    text-align: right;
}

.second_sign {
    width:125px;
    height: 100%;
    float: left;
}

.second_sign img {
    top: 45px;
    left: 45px;
    position: relative;
}

.second_list_row li {
    display: inline;
    margin-right: 40px;
}

.second_list_row {
    margin-bottom: 20px;
}

.second_list_row:first-child {
    margin-top: 45px;
}

.second_list_row:before {
    display: block;
    content: '';
    position: relative;
    background: rgba(148, 122, 101, 0.0);
    height: 1px;
    width: 325px;
    top: 10px;
    left: 44px;
    transition: all 0.15s;
}

.second_list_row:hover {
    color: rgb(85, 75, 70);
    cursor: pointer;
}

.second_list_row:hover:before {
    background: rgba(148, 122, 101, 0.384);
    top: 0px;
}

.course_name span {
    display: block;
    font-size: 12px;
    position: relative;
    left: 82px;
}



.actions {
    position: relative;
    height: 50px;
    margin-top: -20px;
    margin-bottom: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
}
.actions ul {
    padding: 0;
    display: block;
    margin: 20px 5px;
    height: 50px;
    width: 450px;
    flex: 0 0 auto;
    order: 0;
}

.actions li {
    border: solid 1px white;
    border-radius: 2%;
    display: inline-block;
    width: 158px;
    height: 48px;
}

.signin:hover {
    box-shadow: 0 0 16px rgb(150, 164, 209);
    background: linear-gradient(120deg, #98b1d169 0%, #ffffff00 90%);
}

.add:hover {
    box-shadow: 0 0 16px rgb(150, 164, 209);
    background: linear-gradient(120deg, #98b1d169 0%, #ffffff00 90%);
}

.actions ul>li:first-child {
    margin-right: 125px;
}

.actions ul:last-child {
    order: -1;
}
.actions ul:nth-child(1) {
    order: 1;
}
.actions ul:nth-child(2) {
    order: 2;
}
.actions ul:nth-child(3) {
    order: 3;
}
.actions ul:nth-child(4) {
    order: 4;
}
.actions ul:nth-child(5) {
    order: 5;
}



.actions p {
    text-align: center;
    line-height: 5px;
    color: white;
    font-size: 14px;
}

@media (min-width: 934px) {
    .actions ul:last-child {
        order: 1;
    }
}

@media (min-width: 1394px) {
    .actions ul:last-child {
        order: 2;
    }
}

@media (min-width: 1854px) {
    .actions ul:last-child {
        order: 3;
    }
}

footer {
    margin: 0;
    background: #778798;
    height: 360px;
}




