
body {
margin-left: 30px;
margin-right: 30px;
min-height: 100%;
min-width: 800px;
position: relative;
overflow: hidden;
}

.description {
flex: 3;
font-family: sans-serif;
/*padding-left: 1em;*/
font-size: 24px;
text-align: left;
}

.phone {
    flex: 1;
    font-size: 16px;
    padding-top: 3px;
}

header {
    display: flex;
    background-color: #00d9ff;
}

.socials {
    flex: 0.8;
    display: flex;
}

.soc_img {
width: 24px;
height: 24px;
}

.soc {
    flex: 1;
    justify-content: space-between;

}

nav {
    display: flex;
    background-color: #ffd900
}


.menubar {
    display: table;
    flex: 50%;
}

.menubar li {
    display: table-cell;
}