
body {
font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
min-height: 100%;
position: relative;
overflow-x: hidden;
overflow-y: scroll;
background-color: #f0f0f0
}

/* ====== MAIN_BOX ====== */

.mainbox {
    border-radius: 3px;
    /*padding: 5px;*/
    box-shadow: 5px 5px 30px #555555;
    margin: auto;
    width: 1080px;
    height: 100%;
    background-color: #ffffff;
}

/* ============== HEADER ============== */


header {
    padding-top: 30px;
    padding-left: 36px;
    display: flex; 
    /*display: inline-block;*/
    background-color: #ffffff;
}

.description {
flex: 3;
font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
/*padding-left: 1em;*/
font-size: 24px;
text-align: left;
}

.phone {
    padding-left: 30px;
    letter-spacing: 2px;
    flex: 1;
    font-size: 18px;
}


.socials {
    flex: 0.8;
    display: flex;
}

.soc_img {
width: 24px;
height: 24px;
}

.soc {
    flex: 1;
    justify-content: space-between;

}


.logo {
    font-family: 'Josefin Sans', 'Arial', sans-serif;
    padding-left: 36px;
    background-color: #ffffff;
    padding-top: 26px;
    display: flex;
    flex-direction: row;
}

.logo div{
    background-color: #ffffff;
    justify-content: right;
}

nav {
    background-color: #ffffff;
    display: flex;
}

nav div {
    flex-direction: row;
    flex:1;
}

.menubar {
    display: flex;
    flex-direction: row;
}

.menubar li {
    list-style-type: none;
    flex: 1 0 auto; 
}

.center div p {
    text-align: center;
}
 .center {
     background-color: #ffffff;
     position: relative;
 }

.r1 {
    z-index: 1;
    position: absolute;
    height: 360px;
    width: 360px;
    transform: rotate(45deg);
    background-color: #BA9898;
    top: 90px;
    left: 210px;
}

.r1_text {
    font-family: 'Didact Gothic', Arial, Helvetica, sans-serif;
    text-align: center;
    position: absolute;
    padding: 3px 3px 3px 3px;
    font-size: 16px;
    z-index: 3;
    width: 360px;
    height: 290px;
    transform: rotate(-45deg);
    top: 56px;
    left: 13px;
}
.r1_text p {
    letter-spacing: 1px;
    line-height: 16px;
 }


.r2 {
    position: relative;
    top: -100px;
    left: 600px;
}

.r2_crop {
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    transform: rotate(45deg);
    top: 200px;
    left: 75px;
}

.r2_img {
    position: relative;
    transform: rotate(-45deg);
    top: -100px;
    left: -180px;
}

.sea_block {
    height: 1167px;
    background-image: url(../images/sea_background.png);
}